.shopBanner {
  width: 100%;
}

.Content {
  width: 80%;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  margin-top: 30px;
}

.shopMenuContainer {
}

@media only screen and (max-width: 960px) {
  .Content {
    width: 100%;
  }
}
